@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css */
/* .accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.accordion-title.open + .accordion-content {
  max-height: 100vh;
} */
